<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafa.tfg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsuariosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".esp_touch_activity.EsptouchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavPrincActivity"
            android:label="@string/title_activity_nav_princ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DispositivosActivity"
            android:label="@string/disp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".clases.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".clases.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MiCasaActivity" />
        <activity android:name=".NotificacionesActivity" />
        <activity android:name=".clases.LogDispActivity" />
        <activity android:name=".InterruptorActivity" />
        <activity android:name=".JardineriaActivity" />
        <activity android:name=".CalefaccionActivity" />
        <activity android:name=".DispInteligentesActivity" />
        <activity android:name=".MiInformacionUsuarioActivity"></activity>
    </application>

</manifest>